body {
    font-size: 2rem;
    font-family: 'Edu TAS Beginner', cursive;
.encabezado{
    //*background-color: $color-fondo;
    //*background-position: left;
    height: 20vh;
    width: 100%;
    position:relative;
    padding-top: 2rem;
    padding-left: 0.1rem;
    grid-area: header;
}
.nav{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0;
    grid-area: nav;
}

    ul li{
        list-style: none;
        display: inline-block;
        margin: 2rem;

        a{
            text-decoration: none;
            font-weight: bold;
            color:black;
            }
         }
     }
