*{
    margin: 0;
    padding: 0;
  } 
  
  html {
    font-size: 62.5%;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

  @import "variables";
  @import "body";
  @import "section";
  @import "footer";
  @import "galeria";
  @import "maps";
  @import "extend";
  @import "mixin";




